
h1{
  text-align: center;
  font-size: 57px;
  font-family: "Pacifico", cursive;
  color: #D91136;
}

.filtro{
  display: flex;
  justify-content: center;
}

input {
  width: 477px;
  height: 37px;
  font-family: "Playwrite GB S", cursive;
  font-size: 18px;
  text-align: center;
  border-color: #D9C5D5;
  margin-right: 10px;
}

.button{
  font-family: "Playwrite GB S", cursive;
  background-color: #BACDD9;
  font-size: 18px;
  border: none;
}

h3{
  color: #326A8C;
  font-family:"Gayathri", serif;
  font-size: 27px;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#lista-de-productos {
  display: flex;
  font-family:"Gayathri", serif;
  color: #D91136;
  font-weight: bold;
  justify-content: center;

}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 4px solid #A6033F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;
}